services:
  backend:
    image: dharsha12/flask-backend:latest
    container_name: flask-backend
    ports:
      - "5000:5000"

  frontend:
    image: dharsha12/flask-frontend:latest
    container_name: flask-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
