version: "3.9"

services:
  backend:
    image: dharsha26/flask-backend:latest
    container_name: flask-backend
    ports:
      - "5000:5000"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
      DB_HOST: db
    depends_on:
      - db

  frontend:
    image: flask-frontend:1.0
    container_name: flask-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
