services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: admin
      DB_PASSWORD: admin123
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: flask-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  pgdata: